.categories-container{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.category-card1{
    width: 23%;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}


.category-card1 > img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.category-content{
    padding: 12px;
}


@media screen and (max-width:430px) {

    .category-card1{
        width: 45%;
        border-radius: 10px;
        border: 1px solid whitesmoke;

    }
}
