.job-card {
    width: 28%;
    border: 1px solid whitesmoke;
    border-radius: 10px;
  }
  
  
  .job-card:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
  

  
  .logo-container > img {
    width: 60px; 
    height: 60px; 
    border-radius:0.5rem;
    border: 3px solid white; 
  }
  
  .job-content {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem ;
    text-align: left; 
  }
  
  .card-btn {
    background-color: black;
    padding: 4px 6px;
    margin: 8px 2px 0px 2px;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    transition: all 0.8s ease;
    border: 1px solid black;
  }
  
  .card-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid whitesmoke;
  }
  
  
  @media screen and (max-width: 435px) {
    .job-card {
      width: 90%;
    }
  }
  