.main-sidebar{
    width: 15%;
    min-height: 98vh;
    height: auto;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    margin: 0.5rem;
}


.sidebar-tab{
    padding: 0.4rem;   
}

.sidebar-tab:hover{
    background-color: rgba(245, 245, 245, 0.315);
}