.portfolio-card {
  width: 28%;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}


.portfolio-card:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.portfolio-web > img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  display: block; /* Ensure the image is treated as a block element */
}


.user-dp > img {
  width: 60px; /* Fix the size of the profile picture */
  height: 60px; /* Keep it proportional */
  border-radius: 50%;
  border: 3px solid white; /* Add a white border around the image */
}

.portfolio-content {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 1rem; /* Adjust padding to avoid overlap */
  text-align: left; /* Center-align content */
}

.card-btn {
  background-color: black;
  padding: 4px 6px;
  margin: 8px 2px 0px 2px;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  transition: all 0.8s ease;
  border: 1px solid black;
}

.card-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid whitesmoke;
}


@media screen and (max-width: 435px) {
  .portfolio-card {
    width: 90%;
  }
}
